.container{
  width: 100%;
}
.card{
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: gray;
}
.service-img{
  margin-top: 10px;
}
.info{
  margin-top: 0;
  margin-bottom: 0;
}

/*Form Page*/
.form-box{
  border: 2px solid black;
  margin-top: 75px;
  padding: 15px;
  padding-top: 40px;
}
.dulled{
  color: #CCCCCC;
}
/*Create and Login Pages*/
.social-login-button{
  width: 100px;
}