<div class="container">
  <div class="row card" ng-repeat="service in services">
    <div class="medium-3 column">
      <img class="service-img th" ui-sref="gig({ id: service._id })" src="http://placehold.it/150x100">
    </div>
    <div class="medium-9 column">
      <h3 ui-sref="gig({ id: service._id })">{{service.title}}</h3>
      <p class="info">Name: {{service.name}}</p>
      <p class="info">Charity Type: {{service.serviceType}}</p>
      <p class="info">Amount: {{service.amount}}</p>
    </div>
  </div>
</div>
