<div class="row text-center">
  <div class="large-12 column" id="listView">
    <div class="row" ng-repeat="service in services">
      <div class="large-12 columns oneService">
        <div class="row name">
          <div class="small-3 columns"></div>
          <div class="small-9 columns userName">
            <h3>{{service.name}}</h3>
          </div>
        </div>
        <div class="row" style="text-align:center;">
          <div class="small-4 columns userImage">
            <a ui-sref="gig({ id: service._id })"><img class="userImg th" src="http://placehold.it/140x100"></a>
          </div>
          <div class="small-8 columns serviceBody">
            {{service.title}}
            <br>
            Charity: {{service.cause}}
            <br>
            Amount: {{service.amount}}
          </div>
          <div class="small-2 columns"></div>
        </div>
      </div>
    </div>
  </div>
</div>
