<div class="row">
  <div class="medium-offset-1 medium-6 columns">
    <br>
    <br>
    <div class="row">
      <h3 class="left">{{service.charity}}</h3>
    </div>
    <div class="row">
      <img src="http://placehold.it/500x500">
    </div>
  </div>
  <div class="medium-4 columns">
    <br><br>
    <div>
      <h4 class="left">{{service.poster}} - {{service.name}}</h4>
      <h4 class="right"></h4>
    </div>
    <br><br>
    <div>
      <p>{{service.description}}</p>
      <button class="button success expand">Purchase for {{service.price}}</button>
    </div>
    
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="small-5 small-offset-1">
      <div>
        <h3 class="left">{{service.charity}}</h3>
      </div>
      <div style="display: inline-block">
        <img src="http://placehold.it/400x400">
      </div>
    </div>
    <div style="inline-block" class="medium-3">
      <button class="button">Purchase for {{service.price}}</button>
    </div>
  </div>
</div> -->