<div class="container">
  <div class="row">
    <div class="medium-6 medium-offset-3">
      <div class="row">
        <img class="medium-6" style="display: inline-block" src="http://placehold.it/200x200">
        <div class="medium-6">
          <h3>Name{{service.poster}}</h3>
          <h3>Charity{{servicce.charity}}</h3>
          <h3>Amount{{service.amount}}</h3>
        </div>
      </div>
      <div class="row">
        <h3>Service{{service.name}}</h3>
        <h3>Service Description{{service.description}}</h3>
        <a ui-sref="list">list</a>
        <a uiref=""></a>
      </div>
    </div>
  </div>
</div>
