<div class="grid-block">
  <div class="grid-content">
    <br><br>
    <div class="row">
      <div class='medium-6 columns'>
        <img class="th" src="http://placehold.it/500x500">
      </div>
      <div class='medium-6 columns'>
        <div class="row">
          <h1>{{service.cause}}</h1>
        </div>
        <div class='row'>
          <h3>{{service.title}}</h3>
          <h3 class="subheader">By {{service.name}}</h3>
        </div>
        <div>
          <p>{{service.description}}</p>
          <button class="button success expand">Purchase for ${{service.amount}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
